@{
    ViewData["Title"] = "Kullanıcı Paneli";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4 text-primary font-weight-bold">Kullanıcı Paneli</h1>
        <p class="lead text-muted">Kullanıcı yönetim sisteminizin kontrol merkezi.</p>
        <hr class="my-4" />
    </div>

    <div class="row text-center mt-20">
        <!-- İşlem Yönetimi -->
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="card shadow-lg border-0 rounded-lg hover-shadow">
                <div class="card-body">
                    <h5 class="card-title text-primary fw-bold">İşlem Yönetimi</h5>
                    <p class="card-text text-muted mb-3">Tüm işlemleri inceleyin ve yönetin.</p>
                    <a asp-controller="Islem" asp-action="IslemBilgiler" class="btn btn-success btn-lg rounded-pill text-white">
                        <i class="fas fa-tasks"></i> Git
                    </a>
                </div>
            </div>
        </div>

        <!-- Çalışan Yönetimi -->
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="card shadow-lg border-0 rounded-lg hover-shadow">
                <div class="card-body">
                    <h5 class="card-title text-warning fw-bold">Çalışan Yönetimi</h5>
                    <p class="card-text text-muted mb-3">Çalışanları görüntüleyin ve yönetin.</p>
                    <a asp-controller="Calisan" asp-action="CalisanBilgiler" class="btn btn-warning btn-lg rounded-pill text-white">
                        <i class="fas fa-user-friends"></i> Git
                    </a>
                </div>
            </div>
        </div>

        <!-- Randevu Yönetimi -->
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="card shadow-lg border-0 rounded-lg hover-shadow">
                <div class="card-body">
                    <h5 class="card-title text-danger fw-bold">Randevu Yönetimi</h5>
                    <p class="card-text text-muted mb-3">Tüm randevuları kontrol edin ve yönetin.</p>
                    <a asp-controller="Randevu" asp-action="KullaniciRandevulari" class="btn btn-danger btn-lg rounded-pill text-white">
                        <i class="fas fa-calendar-alt"></i> Git
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
}
