@section GirisImg {
    @await Html.PartialAsync("GirisImgSection")
}

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 ftco-animate">
                <div class="media d-block text-center block-6 services">
                    <div class="icon d-flex mb-3"><span class="flaticon-facial-treatment"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Cilt Bakımı</h3>
                        <p>Cilt tipinize uygun bakım uygulamaları ile sağlıklı ve ışıltılı bir cilt kazanmanıza yardımcı oluyoruz.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="media d-block text-center block-6 services">
                    <div class="icon d-flex mb-3"><span class="flaticon-cosmetics"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Makyaj Hizmetleri</h3>
                        <p>Özel günlerinizde veya günlük yaşamınızda profesyonel makyaj hizmetlerimizle kendinizi özel hissedin.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="media d-block text-center block-6 services">
                    <div class="icon d-flex mb-3"><span class="flaticon-curl"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Saç Stilleri</h3>
                        <p>Saç şeklinizi ve stilinizi değiştirmek için uzman kuaförlerimizle yeni bir görünüm elde edin.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">Martin Blaut: Modern Kuaförlük ve Yaratıcılığın Buluşma Noktası</h2>

                <p>
                    Martin Blaut, modern kuaför dünyasının öncü isimlerinden biridir. Sanatı, özgünlük ve zarafetiyle harmanlayarak, her müşterisine kendine özel bir deneyim sunmayı hedefler.
                    Yalnızca bir kuaför değil, aynı zamanda bir stilist olan Martin Blaut, sektördeki yenilikçi yaklaşımıyla dikkat çeker. İleri teknolojiye sahip ekipmanlar ve en kaliteli ürünlerle
                    hizmet vererek, her saç tipine en uygun bakım ve şekli profesyonelce sunar. Gelişen trendleri yakından takip eder, ancak kendi özgün tarzını yaratmaktan da asla vazgeçmez.
                    Martin Blaut, kuaförlük sanatını bir adım ileriye taşıyarak, güzellik ve stilin sınırlarını zorlar.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-discount img" style="background-image: url('@Url.Content("~/content/images/bg_2.jpg")');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-5 discount ftco-animate">
                <h3>Öğrencilere %25'e Varan İndirim</h3>
                <h2 class="mb-4">Özel Öğrenci İndirimi</h2>
                <p class="mb-4">Hayat, sıradan metinlerin ötesinde! Şimdi, güzellik ve bakımda öğrencilere özel fırsatlar sunuyoruz. Kendinizi şımartmak için bu eşsiz fırsatla tanışın ve stilinizi yeniden keşfedin. Eğlenceli ve şık bir dönüşüm için şimdi yerinizi ayırtın!</p>
                <p>
                    <a class="btn btn-white btn-outline-white px-4 py-3" asp-controller="Randevu" asp-action="Index">Şimdi Rezervasyon Yap</a>
                </p>
            </div>
        </div>
    </div>
</section>
