@model MartinBlautweb.Models.Calisan

@{
    ViewData["Title"] = "Çalışan Ekle";
}

<h1>@ViewData["Title"]</h1>

@if (TempData["msj"] != null)
{
    <div class="alert alert-success">
        @TempData["msj"]
    </div>
}

@if (TempData["hata"] != null)
{
    <div class="alert alert-danger">
        @TempData["hata"]
    </div>
}

<form asp-action="CalisanEkle" method="post">
    <div class="form-group">
        <label asp-for="CalisanAd"></label>
        <input asp-for="CalisanAd" class="form-control" />
        <span asp-validation-for="CalisanAd" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CalisanSoyad"></label>
        <input asp-for="CalisanSoyad" class="form-control" />
        <span asp-validation-for="CalisanSoyad" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IslemID">Uzmanlık Alanı</label>
        <select asp-for="IslemID" class="form-control"
                asp-items="@(new SelectList(ViewData["IslemListesi"] as IEnumerable<MartinBlautweb.Models.Islem>, "IslemID", "IslemAdi"))">
            <option value="">Uzmanlık alanı seçiniz</option>
        </select>
        <span asp-validation-for="IslemID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CalisanTelefon"></label>
        <input asp-for="CalisanTelefon" class="form-control" />
        <span asp-validation-for="CalisanTelefon" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CalisanMesaiBaslangic"></label>
        <input asp-for="CalisanMesaiBaslangic" class="form-control" type="time" />
        <span asp-validation-for="CalisanMesaiBaslangic" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CalisanMesaiBitis"></label>
        <input asp-for="CalisanMesaiBitis" class="form-control" type="time" />
        <span asp-validation-for="CalisanMesaiBitis" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Ekle</button>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
